.btn
  cursor: pointer
  background: none
  border: none

.save-btns
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center
  &__right
    button
      margin-left: 25px

//Удалить
.addNew
  line-height: 20px
  padding: 8px 25px 10px
  color: $black
  font-size: .75rem
  border: 1px solid $sameblue
  border-radius: 3px
  display: inline-flex
  align-items: center
  background: $white
  transition: background .3
  img
    margin-right: 10px
  &:hover
    background: #dce6ed33
  &:active
    background: #dce6ed80
  &.disabled
    background: $labelgrey

//Изменить аватар
.changeBtn
  line-height: 20px
  padding: 13px 40px 15px
  color: $white
  background: rgba(62, 65, 86, .85)
  border-radius: 3px
  &.smallBtn
    padding: 10px 25px

//Сохранить
.infoBtn
  background: $darkblue
  padding: 13px 40px 15px
  border-radius: 3px
  color: $white
  transition: background .3s
  &:hover
    background: #3e4156e6
  &:active
    background: #3e4156b3

.send
  background: $darkblue
  color: $white
  padding: 13px 40px 15px
  border-radius: 2px
  transition: background .3s
  &:hover
    background: #3e4156e6
  &:active
    background: #3e4156b3

.selectFile
  display: block
  background: $darkblue
  border-radius: 3px
  padding: 15px 40px
  color: $white
  line-height: 20px

input[type="file"]
  display: none
