$MR: "Montserrat-Regular", sans-serif
$ML: "Montserrat-Light", sans-serif
$MB: "Montserrat-Bold", sans-serif
$MBL: "Montserrat-Black", sans-serif

$white: #fff
$black: #000

$mainbg: #FFFBFB
$loginbg: #F1F2F7

$loginshadow: #E4E6EF
$loginblue: #63BCE6
$logintabs: #1C1E21

$btnaccept: #3145F2
$inptborder: #7B7878
