@import 'normalize.css'
@import "vars"
@import "fonts"
@import "consts"
@import "btns"

*
  box-sizing: border-box
a
  text-decoration: none
  outline: none
button:active, button:focus
  outline: none
button::-moz-focus-inner
  border: 0
input[type="file"]
  cursor: pointer
ul
  list-style: none
  padding: 0
  margin: 0
p
  margin: 0
img
  max-width: 100%
  display: block
h1,h2,h3,h4,h5,h6
  margin: 0
label
  display: inline-block

html
  font-size: 16px
  word-spacing: 1px
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased

html, body
  height: 100%

body
  margin: 0
  padding: 0
  width: 100%
  font-family: $CR
  font-size: 16px
  line-height: 15px
  min-width: 320px
  position: relative
  overflow-x: hidden
  color: #000

#app
  min-height: 100%
  width: 100%

.modal-bg
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 1000
  background: rgba(0, 0, 0, .5)

.pt-80
  padding-top: 80px

.wr
  max-width: 1220px
  width: 100%
  margin: 0 auto
  padding: 0 25px!important
  position: relative

@media screen and (max-width: 1170px)
  .wr
    max-width: 920px

@media screen and (max-width: 768px)
  .wr
    padding: 0 15px!important

@import './layout/header'
@import './layout/footer'

.error-mess
  position: absolute
  top: calc(100% + 5px)
  left: 0
  color: red
  white-space: nowrap
  font-size: 0.75rem

.error
  position: relative
  animation: error .3s forwards

@keyframes error
  0%
    left: -10px
  20%
    left: 8px
  40%
    left: -6px
  60%
    left: 4px
  80%
    left: -2px
  100%
    left: 0

.fade-enter-active, .fade-leave-active
  transition: opacity .3s
.fade-enter, .fade-leave-to
  opacity: 0

.slideLeft-enter-active, .slideLeft-leave-active
  transition: all .2s
.slideLeft-enter, .slideLeft-leave-to
  transform: translateX(35px)
  opacity: 0

.slideTop-enter-active, .slideTop-leave-active
  transition: all .3s
.slideTop-enter, .slideTop-leave-to
  transform: translateY(50px)
  opacity: 0

// .education-item
//   backface-visibility: hidden
//   z-index: 1
// .education-item-move
//   transition: all .5s ease-out
// .education-item-enter-active
//   transition: all .3s
// .education-item-leave-active
//   transition: all .2s
//   position: absolute
//   z-index: 0
// .education-item-enter,
// .education-item-leave-to
//   opacity: 0
