.header
  width: 100%
  padding: 15px 0
  &-block
    display: flex
    align-items: center
    justify-content: space-between
    .logo
      font-size: 1.25rem
      line-height: 24px
      letter-spacing: 0.04em
      font-family: $ML
      color: $black
      b
        font-family: $MBL
    .menu
      display: flex
      align-items: center
      justify-content: space-between
      &-item
        margin-right: 60px
        .link
          color: $logintabs
          font-size: 1.25rem
          line-height: 24px
