.treners
  &-filter
    flex: 0 0 auto
    width: 250px
    padding: 50px 20px 0
    box-shadow: 0px 0px 30px 0px rgba(209, 221, 231, 0.4)
    &__title
      width: 100%
      line-height: 25px
      font-size: 1.25rem
      color: $trenersfilter
